/* _content/ProyectoProgramacionAvanzadaWeb/Pages/Shared/_Layout - Copia.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-3edbl0fyt2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-3edbl0fyt2] {
  color: #0077cc;
}

.btn-primary[b-3edbl0fyt2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-3edbl0fyt2], .nav-pills .show > .nav-link[b-3edbl0fyt2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-3edbl0fyt2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-3edbl0fyt2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-3edbl0fyt2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-3edbl0fyt2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-3edbl0fyt2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProyectoProgramacionAvanzadaWeb/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vbft0b94l6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vbft0b94l6] {
  color: #0077cc;
}

.btn-primary[b-vbft0b94l6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vbft0b94l6], .nav-pills .show > .nav-link[b-vbft0b94l6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vbft0b94l6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vbft0b94l6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vbft0b94l6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vbft0b94l6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vbft0b94l6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProyectoProgramacionAvanzadaWeb/Pages/Shared/_LayoutAdminDashboard.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-w2ug1fuznw] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-w2ug1fuznw] {
  color: #0077cc;
}

.btn-primary[b-w2ug1fuznw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-w2ug1fuznw], .nav-pills .show > .nav-link[b-w2ug1fuznw] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-w2ug1fuznw] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-w2ug1fuznw] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-w2ug1fuznw] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-w2ug1fuznw] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-w2ug1fuznw] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProyectoProgramacionAvanzadaWeb/Pages/Shared/_LayoutLogin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-n6r0jzmt6j] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-n6r0jzmt6j] {
  color: #0077cc;
}

.btn-primary[b-n6r0jzmt6j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-n6r0jzmt6j], .nav-pills .show > .nav-link[b-n6r0jzmt6j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-n6r0jzmt6j] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-n6r0jzmt6j] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-n6r0jzmt6j] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-n6r0jzmt6j] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-n6r0jzmt6j] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
