@page
@model ProyectoProgramacionAvanzadaWeb.Pages.Auth.Login.IndexModel

@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Login";
}
<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-center" style="text-align: center;">
                                <div style="display: inline-block; text-align: left;">
                                    <h4 style="margin-left:30px;" class="font-weight-bolder">Inicio de Sesion</h4>
                                    <p class="mb-0">Ingresa tu correo y contraseña</p>
                                    @if (!string.IsNullOrEmpty(Model.Message))
                                    {
                                        <div style="text-align:center" class="alert alert-danger alert-dismissible fade show" role="alert">
                                            @if (Model.Message.StartsWith("Error interno del servidor: "))
                                            {
                                                <h4 class="alert-heading">Error interno del servidor:</h4>
                                                <hr>
                                                <p>@Model.Message.Substring("Error interno del servidor: ".Length)</p>
                                            }
                                            else
                                            {
                                                <h4 class="alert-heading">Errores de validación:</h4>
                                                @foreach (var error in Model.Message.Split(new[] { "\n" }, StringSplitOptions.RemoveEmptyEntries))
                                                {
                                                    <p>@error</p>
                                                    <hr>
                                                }
                                            }
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card-body">
                                <form method="post" class="text-start">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="input-group input-group-outline my-3">
                                        <input asp-for="LoginRequest.Identificacion" class="form-control" placeholder="Correo Electrónico" />
                                        <!--
                                        <span asp-validation-for="LoginRequest.Email"></span>
                                        -->
                                    </div>
                                    <div class="input-group input-group-outline mb-3">
                                        <input asp-for="LoginRequest.Contrasenna" class="form-control" type="password" placeholder="Contraseña" />
                                        <!--
                                        <span asp-validation-for="LoginRequest.Contrasenna"></span>
                                        -->
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Iniciar Sesión</button>
                                    </div>
                                    <p class="mt-4 text-sm text-center">
                                        ¿Olvidaste la contraseña?
                                        <a asp-page="Auth/Recuperar" class="text-primary text-gradient font-weight-bold">Recuperar Contraseña</a>
                                        <br />
                                        ¿No tienes una cuenta?
                                        <a asp-page="Auth/Registro" class="text-primary text-gradient font-weight-bold">Ir al Registro</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                        <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url(assetsLogin/images/Login1.jpg);
          background-size: cover;">
                            <span class="mask bopacity-6"></span>
                            <h4 class="mt-5 text-white font-weight-bolder position-relative">¡Bienvenido!</h4>
                            <p class="text-white position-relative">Si no tienes una cuenta registrate para poder contar con todos los servicios que ofrecemos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
